<posts>
    <div class="card mb-3" style="width: 450px; max-height: 510px; border:none;">
        <div class="row no-gutters">
            <div class="col-md-4" style="text-align: center;">
                <img src="https://www.ctvnews.ca/polopoly_fs/1.4037876!/httpImage/image.jpg_gen/derivatives/landscape_1020/image.jpg"
                    class="card-img" id="profileImg">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <a class="card-link"><small class="text-muted">20 Oct 2019</small></a>
                    <a class="card-link" href="#" style="float:right"><small class="text-muted">replies</small></a>
                </div>
            </div>
        </div>
    </div>
</posts>