<div class='replyMainDiv'>
    <div class="row">
        <div class="col-md-3" id="replyProfileDiv">
            <a href="/user/{{ this.creatorID }}">
                <img src="{{ this.creatorProfileUrl }}" id="replyProfileImg">
            </a>
        </div>
        <div class="col-md-9" id="replyText">
            <p class="card-text">{{ this.details }}</p>
        </div>
    </div>
</div>