<searchbar>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <nav class="navbar navbar-light">
        <form class="form-inline">
            <a class="navbar-brand" href="/main">
                <p id='logo'>k<span id='color'>b</span></p>
            </a>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <form method="GET" action='/'>
            <input type="submit" id="btn" value='Logout'/>
        </form>
    </nav>
</searchbar>