<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ pageTitle }}</title>
    {{#if loginCSS}}
        <link href='/css/login.css' rel='stylesheet'/>
    {{/if}}
</head>

<body>
    {{{ body }}}
</body>

</html>