<html lang="en">

<head>
    <title>{{ pageTitle }}</title>
    <link href='css/main.css' rel='stylesheet' type='text/css' />
    {{#if loginCSS}}
    <link href='css/login.css' rel='stylesheet' type='text/css' />
    {{/if}}
    {{#if mainpageCSS}}
    <link href='/css/mainpage.css' rel='stylesheet' type='text/css' />
    {{/if}}
    {{#if profilepageCSS}}
    <link href='/css/profilepage.css' rel='stylesheet' type='text/css' />
    {{/if}}
    {{#if registrationCSS}}
    <link href='/css/registration.css' rel='stylesheet' type='text/css'/>
    {{/if}}
    {{#if dmpageCSS}}
    <link href='/css/dmpage.css' rel='stylesheet' type='text/css'/>
    {{/if}}
    {{#if searchoutputCSS}}
    <link href='/css/searchoutput.css' rel='stylesheet' type='text/css'/>
    {{/if}}
</head>

<body>
    {{{ body }}}
</body>

</html>