<div class='main'>
    <div>
        <div>
            <p id='mainTitle'>knowledge<span id='logoBase'>Base</span></p>
        </div>
        <div>
            <img src={{ loginImageLink }} alt="MainLoginLink">
        </div>
    </div>
    <div class='formDiv'>
        <form action='/login' method='POST'>
            <input class='mid' type='email' name='email' placeholder='email' required />
            <input class='mid' type='password' name='password' placeholder='password' required />
            <input class='btn' type='submit' value='login'>
        </form>
        <p id="mainBody">Join the world's largest community for knowledge sharing</p>
        <form action='/register' method='POST'>
            <div>
                <input type='text' class='mid' name='firstname' placeholder='firstname' required />
                <input type='text' class='mid' name='lastname' placeholder='lastname' required />
            </div>
            <div>
                <input type='email' class='lg' name='email' placeholder='email' required />
            </div>
            <div>
                <input type='password' class='lg' name='password' placeholder='password' required />
            </div>
            <div>
                <input type='password' class='lg' name='passwordconfirm' placeholder='confirm password' required />
            </div>
            <input type='submit' class='lg' id='btn' value='signup' />
        </form>
    </div>
</div>