<div class='main'>
    <div>
        <div>
            <p id='mainTitle'>knowledge<span id='logoBase'>Base</span></p>
        </div>
        <div>
            <p>
                Let us know a little more about you
            </p>
        </div>
    </div>
    <div class='formDiv'>
        <form>
            <input type='url' class='lg' placeholder='imageurl' />
            <textarea class='multilinetext' placeholder='a few lines about yourself..' rows='8' cols='60'></textarea>
            <input type='text' class='lg' placeholder='country'/>
        <input type='date' class='lg'/>
        <input type='submit' class='lg' id='btn' value='complete registration'/>
        </form>
    </div>
</div>