<div class='main'>
    <div>
        <div>
            <p id='mainTitle'>knowledge<span id='logoBase'>Base</span></p>
        </div>
        <div>
            <p id='mainBody'>
                Let us know a little more about you
            </p>
        </div>
    </div>
    <div class='formDiv'>
        <form id='registrationForm' method='POST' action='/main'>
            <input type='url' class='lg' name='profileurl' placeholder='imageurl' required />
            <textarea class='multilinetext' name='statement_of_intent' placeholder='a few lines about yourself..' rows='8' cols='44' required ></textarea>
            <input type='text' name='country' class='lg' placeholder='country' required />
            <input type='date' name='dateofbirth' class='lg' required />
            <input type='hidden' name='name' value='{{ data.name }}'/>
            <input type='hidden' name='email' value='{{ data.email }}'/>
            <input type='hidden' name='password' value='{{ data.password }}'/>
            <input type='submit' class='lg' id='btn' value='complete registration' />
        </form>
    </div>
</div>