<div class='main'>
    <div>
        {{>searchbar}}
    </div>
    <div>
        <div class='postBody'>
            {{#each posts}}
            {{>post}}
            {{/each}}
        </div>
    </div>
</div>