h1,
p,
div,
input {
    font-family: Tahoma, sans-serif;
}

.question {
    text-align: center;
    display: inline;
}

input[type=detail] {
    height: 30%
}

#color {
    color: skyblue;
}

#logo {
    font-size: 3em;
}

/* Profile Image CSS Section */
#profileImg {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    border: 1px solid;
    margin-bottom: 2em;
}

#profileUser {
    text-align: center;
}

#profileName {
    font-size: 2em;
}

#profileMainDiv {
    width: 30em;
    padding: 2.5em;
}

#rightOfmain {
    padding: 1em;
    margin-left: 10em;
}

#mainText {
    font-size: 2em;
}

#formStyle {
    width: 10em;
}

.postSubject,
.postDetail {
    width: 100%;
    margin: 0.5em;
}

.topicList {
    width: 50%;
    margin: 0.5em;
}

#btn,
.btn {
    color: white;
    background-color: dodgerblue;
    border-style: none;
    padding: 0.5em;
}

input,
textarea,
select {
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    border-style: solid;
    border-color: lightgrey;
    padding: 0.5em;
}

#btn {
    margin-left: 4.5em;
}

#searchTopicSelect {
    width: 70%;
}
#searchByTopic, #latestDiscussion {
    font-size: 1.5em;
}
/* Post partial css section */
.postMainDiv {
    width: 30em;
    max-height: 510px;
    border: none;
    padding: 1em;
}

#postProfileImg {
    border-radius: 50%;
    width: 6em;
    height: 6em;
    border: 1px solid;
}

#postProfileDiv {
    vertical-align: middle;
    height: 100%;
}

.postHeaderDiv {
    display: flex;
    justify-content: space-between;
}

.tags {
    width: 4em;
    text-align: center;
    color:lightblue;
    padding: 1px;
    border: 1px solid;
    border-radius: 5px;
}
/* Multi-line ellipsis. -webkit-line-clamp not supported in IE11, 
   supported in all other major browsers. */
.card-text {
    display: block;
    display: -webkit-box;
    max-width: 20em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}